@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    html,body{
        height:100%;
        width:100%;
        background-color: rgb(37, 37, 37);
    }
    .wrapper{
        width:100%;
        height:100%;
        background-color: rgb(37, 37, 37);
     
        position: relative;
        
    }
    .hero{
        width:100%;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1rem;
       
      position: relative;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .box{
        
        border-radius: 0.4rem;
        position: absolute;
       

    }
    .box::before{
        content:"";
        width: 100%;
        height:100%;
        position: absolute;
        top:0;
        right:0;
        background-color: rgba(2, 2, 2, 0.236);
        /* z-index:3 */
    }
    .container{
        display:flex;
       justify-content: center;
        align-items: center;
      
        position: relative;
    }
    .balloon{
        width:100px;
        height:100px;
        background-color: red;
        border-radius:100%;
       
        
    }
}