@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    html,body{
        height:100%;
        width:100%;
    }
    .wrapper{
       
        background-color: rgb(37, 37, 37);
    }
    .hero{
        width:100%;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1rem;
        border:2px solid red;
        position: relative;
    }
    .box{
        width:400px;
        height:90vh;
        border-radius: 0.4rem;
        position: absolute;
        top:5vh;

    }
}